<% if @mom.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@mom.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @mom.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="">
  <%= form_for @mom, html: {multipart: true} do |f| %>
  Name <br>
  <%= f.text_field :name %><br>
  Email <br>
  <%= f.text_field :email %><br>

  Upload your picture<br>
  <%= f.file_field :avatar%><br>

  Primary Contact number<br>
  <%= f.text_field :phone_number%><br>

  Who can pick up your child apart from you?<br>
  <%= f.text_field :pick_up_authorization%><br>

  Password
  <%= f.password_field :password %><br>

  <%= f.submit %>
<% end %>

</div>
