<% if @mom.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@mom.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @mom.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group" >
  <%= form_for @mom, html: {multipart: true, class: "form-group" } do |f| %>
  Name <br>
  <%= f.text_field :name, class: "form-group"  %><br>
  Email <br>
  <%= f.text_field :email, class: "form-group"  %><br>

  Upload your picture<br>
  <%= f.file_field :avatar, class: "form-group" %><br>

  Primary Contact number<br>
  <%= f.text_field :phone_number, class: "form-group" %><br>

  Who can pick up your child apart from you?<br>
  <%= f.text_field :pick_up_authorization, class: "form-group" %><br>

  Password
  <%= f.password_field :password, class: "form-group"  %><br>

  <%= f.submit class: "create-button" %>
<% end %>

</div>
