<%= render partial: "mom", locals: { mom: @mom } %>

<h3>Babies on profile</h3>
<ul>
  <% @mom.babies.each do |baby| %>
    <li>
    <%= link_to "#{baby.name}", baby_path(baby) %>
    <%= render partial: "/babies/baby", locals: { baby: baby } %>
    <h3>Caregiver</h3>
    Caregiver's name: <%= baby.caregiver.name %><br>
    <%= render partial: "caregivers/caregiver", locals: { caregiver: baby.caregiver } %>
    </li>
    <br></br>
  <% end %>
</ul>






<!-- <p><strong>Add a Baby</strong></p>
<div class="">
  <%= form_for @mom.babies.build  do |f| %>
    <%= f.hidden_field :mom_id, :value => @mom.id %><br>
    Name <br>
    <%= f.text_field :name %><br>
    Upload your picture(paste a link)<br>
    <%= f.text_field :picture%><br>
    Emergency Contact number<br>
    <%= f.text_field :emergency_contact%><br>
    date of Birth<br>
    <%= f.date_field :dob %><br>
    Sex<br>
    <%= f.text_field :sex %><br>

    Allergies<br>
    <%= f.text_field :allergies %><br>

    <%= f.label "Select a Caregiver" %>
    <%= f.collection_select :caregiver_id, Caregiver.all, :id, :name%><br>
    <%= f.submit "Add baby" %>
    <% end %>
</div> -->
<%= link_to 'Add a Baby', new_baby_path(@baby) %><br>
<%= link_to 'Edit', edit_mom_path(@mom) %><br>
<%= link_to 'Logout', logout_path, method: :delete %><br>
