
<% if flash[:notice] %>
    <div class="message"><%= flash[:notice] %></div>
  <% end %>

<div class="">
  <%= form_for :user, url: login_path, class: "form-group" do |f| %>
    Email: <%= f.text_field :email, class: "form-group" %> <br>
    Password: <%= f.password_field :password, class: "form-group" %><br>
    <%= f.submit "Login",  class: "create-button"%>
   <% end %>
</div>
