<h1 align="center">Welcome to the Babylonia App!</h1>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url %>"/>Home</a><br>
      <a class="navbar-brand" href="<%= "/caregivers/new" %>"/>Sign Up as a Caregiver </a><br>
      <a class="navbar-brand" href="<%= "/moms/new" %>"/>Sign Up as a Mom</a><br>
      <a class="navbar-brand" href="<%= "/login" %>"/>Log In</a><br>
      <%= link_to('Log in with Facebook!', '/auth/facebook') %>

    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
