<% if @caregiver.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @caregiver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="center form-group">
  <div class="form-group">
    <%= form_for @caregiver, html: {multipart: true, class: "form-group"} do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-group" %><br>

      <%= f.label :email %><br>
      <%= f.text_field :email, class: "form-group" %><br>

      <%= f.label "Upload your Picture" %><br>
      <%= f.file_field :avatar, class: "form-group"%><br>

      <%= f.label :phone_number %><br>
      <%= f.text_field :phone_number, class: "form-group"%><br>

      <%= f.label :experience, "# Years of Experience" %><br>
      <%= f.text_field :experience, class: "form-group" %><br>

      <%= f.label :age, "Age(in years)" %><br>
      <%= f.text_field :age, class: "form-group" %><br>

      <%= f.label :address %><br>
      <%= f.text_field :address, class: "form-group" %><br>

      <%= f.label :password  %><br>
      <%= f.password_field :password, class: "form-group"%><br>

      <%= f.submit class: "create-button" %>
    <% end %>
  </div>

</div>
