
<h1>Welcome <%= @caregiver.name %><br></h1>

<%= render partial: "caregiver", locals: { caregiver: @caregiver } %>

<% @caregiver.babies.each_with_index do |baby, index| %>
  <%= "#{index + 1}." %>
  <ul>
    <%= link_to " Add Daily Log for #{baby.name}", new_dailylog_path(@dailylog) %>

    <%= render partial: "babies/baby", locals: { baby: baby } %><br>

    <strong><%= baby.name + "'s Mom" %><br></strong>
    <%= render partial: "moms/mom", locals: { mom: baby.mom } %>
  </ul>

<% end %>

<%= link_to 'Logout', logout_path, method: :delete %><br>
<%= link_to 'Edit', edit_caregiver_path %><br>
