  <p id="babyName">Baby Name: <%= baby.name %></h3>
  <p id="babyImage"><%= image_tag baby.avatar.url %></p>
  <p id="babyContact">Emergency Contact: <%= baby.emergency_contact%></p>
  <p id="babySex">Sex <%= baby.sex%></p
  <p id="babyAllergies">Allergies: <%= baby.allergies%></p>
  <p id="babyDOB">Date of Birth: <%= baby.dob%></p>
