<h1>Hi, Baby <%= @baby.name %></h1>
<%= render partial: "baby", locals: { baby: @baby } %>

<h3><%= link_to @baby.name + "'s Mom", mom_path(@baby.mom)%></h3>
<h4 class="logs-js" data-id="<%= @baby.id %>"><%= link_to "All Logs", baby_dailylogs_path(@baby) %></h4>
<p>There are <%= @baby.dailylogs.count %> logs. Click the Button below to see all logs</p>
<button class="js-more">More Logs</button>

<ul class="baby-logs">

</ul>

<!--<ul>
  <% @baby.dailylogs.each do |dailylog| %>
    <li><%= link_to dailylog.date_format_for_time_in, baby_dailylog_path(@baby, dailylog) %></li>
  <% end %>
</ul> -->

<p><%= link_to "Edit Baby's profile", edit_baby_path(@baby)%></p>
