<h1>Hi, Baby <%= @baby.name %></h1>
<%= render partial: "baby", locals: { baby: @baby } %>

<h3><%= link_to @baby.name + "'s Mom", mom_path(@baby.mom)%></h3>
<h4><%= link_to "All Logs", baby_dailylogs_path(@baby) %></h4>
<ul>
  <% @baby.dailylogs.each do |dailylog| %>
    <li><%= link_to dailylog.date_format_for_time_in, dailylog_path(dailylog) %></li>
  <% end %>
</ul>
<p><%= link_to "Edit Baby's profile", edit_baby_path(@baby)%></p>
<p><%= link_to "Delete", @baby, method: :delete, data: { confirm: "Really?" }%></p>
