<% if @dailylog.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@dailylog.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @dailylog.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="center">
  <%= form_for @dailylog, class: "form-group" do |f| %>
  <%= f.hidden_field :baby_id, :value => params[:baby_id] %><br>
    Time In <br>
    <%= f.datetime_local_field :time_in, class: "form-group" %><br>

    Number of Naps today<br>
    <%= f.text_field :nap, class: "form-group"%><br>

    Number of Times Baby Ate today<br>
    <%= f.text_field :meal, class: "form-group"%><br>

    How many diaper changes<br>
    <%= f.text_field :diaper, class: "form-group" %><br>

    How many hours did the baby play for?<br>
    <%= f.text_field :play_time, class: "form-group" %><br>

    Did the baby have any meds today? check yes if true<br>
    <%= f.check_box :meds, class: "form-group" %><br>

    Any comments baby's general behaviour day? <br>
    <%= f.text_field :summary, class: "form-group" %><br>

    Time Out <br>
    <%= f.datetime_local_field :time_in, class: "form-group" %><br>

    Caregiver
    <%= f.text_field :caregiver_id, :value => @caregiver.name, class: "form-group" %><br>

    <%= f.submit class: "create-button"%>
  <% end %>

</div>
